@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="mianText">
        <h1 class="display-4 e">Welcome to Razor Sharp Pizzas</h1>
        <h2 class="subTitle"> Razor sharp  , is the pizza for me and your </h2>
    </div>
   
    <img class="mainImage" src="~/images/PizzaTime.jpg" alt="Sample Photo" />
    <br/> 
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou"> Bring me that pizza</a>
</div>
